/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "source sans pro", sans-serif;
  font-size: 16px;
}

h2 {
  margin: 20px;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

table {
  width: 90%;
  height: 90%;
  margin: 7px;
  background-color: whitesmoke;

  thead {
    background-color: #188a98;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }

  td {
    border-bottom: solid 1px lightblue;
    line-height: 28px;
    padding-left: 10px;
  }

  .rotated {
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: table-cell;
    vertical-align: middle;
    font-weight: 900;
  }

  .actions {
    width: 1px;
    cursor: pointer;
    border: solid 1px transparent;
    border-radius: 10%;

    &:hover {
      background-color: white;
      color: blue;
      border: solid 1px blue;
      border-radius: 10%;
    }
  }
}
